
    <section class="side_content_section">
      <div class="medicare_simplified_sidemenu">
        <h4 class="sidemenu_header">Dental & Vision</h4>

        <ul class="sidemenu_ul custom-list">
          <li class="sidemenu_li"><%= link_to "Choosing Dental Coverage",
            dental_vision_path, class: "sidemenu_li" %></li>
          <li class="sidemenu_li"><%= link_to "Vision Insurance: Is It Right For You",
            dv_menu_two_path, class: "sidemenu_li" %></li>

        </ul>
      </div>
    </section>
