
<div class="medicare_body">

  <main class="medicare_simplified_section">
    <section class="main_content_section">
      <article class="medicare_simplified_article">


      <h1 class="medicare_resources_header">Vision Insurance: Is It Right For You</h1>

      <p class="article_text">It's no surprise that vision insurance is misunderstood
        by many people. Depending on the reason for the doctor visit – a routine
        exam or an eye injury – it’s not always clear which doctor to visit.
        At its most basic level, vision insurance helps cover the cost of routine
        eye exams, contact lenses and glasses. Some vision plans also pay for
        corrective procedures such as laser eye surgery. Additionally, most plans
        include one pair of glasses or contacts a year.
      </p>

      <h2 class="medicare_resources_header">Which policy covers an eye injury or disease?</h2>

      <p class="article_text">Routine vision exams to an optometrists or general
        ophthalmologists may produce final diagnoses such as nearsightedness,
        farsightedness or astigmatism. During this exam, the optometrist or
        general ophthalmologist might detect a problem related to diabetes or
        some other disease. A medical eye exams may produce a diagnosis such as
        conjunctivitis (pink eye), a common occurrence among children. Most
        insurance companies focus on the reason for your visit, so your health
        insurance probably would not cover a routine eye exam but, a follow up
        visit to your doctor because of a problem detected during a routine eye
        exam might very well be covered. Plus, your health insurance probably
        would cover a doctor visit for an eye disease or eye injury.
      </p>

      <h2 class="medicare_resources_header">What Does Vision Care Insurance Cover?</h2>

      <p class="article_text">Vision care insurance usually covers a percentage
        of the following basic services:
      </p>

      <ul class="list_shift">
        <li class="sidemenu_li">Yearly eye examination</li>
        <li class="sidemenu_li">Eyeglass lenses</li>
        <li class="sidemenu_li">Eyeglass frames</li>
        <li class="sidemenu_li">Contact lenses</li>
        <li class="sidemenu_li">LASIK and PRK vision correction procedures at a
          discounted rate</li>
      </ul>

      <p class="article_text">Your specific vision care plan may have a limit,
        such as annually or every two years on how often it will pay for lenses
        and frames.
      </p>

      <h2 class="medicare_resources_header">Who Provides Vision Care Services?</h2>

      <p class="article_text">Frequently, vision care plans (including those you
        buy or are provided by your employer) contract with eye care professionals.
        In some plans, you use a certain eye care provider and receive a discount
        on the services offered. However, most plans purchased from a vision care
        insurance company are PPOs (preferred provider organizations) where your
        eye care is managed by a network of eye care providers. In a PPO, you also
        can use out-of-network eye providers, but you must pay a greater share of
        the cost.
        Typically, eye care offices and networks include optometrists and general
        ophthalmologists. Some networks also may include ophthalmologists who perform
        refractive surgery, and provide LASIK or other vision correction procedures.
      </p>

      <h2 class="medicare_resources_header">Do I Need Vision Care Insurance?</h2>

      <p class="article_text">If you or members of your family wear corrective
        lenses and need periodic eye exams and changes in your eye lens prescription,
        it may be worthwhile to purchase vision care insurance. If you do not currently
        wear or need glasses, you may be able to get a periodic eye exam through your
        regular health insurance plan.
      </p>

      </article>
    </section>
    <%= render "dental_vision/sidemenu" %>
  </main>
</div>
