
<div class="medicare_body">

  <main class="medicare_simplified_section">
    <section class="main_content_section">
      <article class="medicare_simplified_article">


      <h1 class="medicare_resources_header">Choosing Dental Coverage</h1>

      <p class="article_text">Proper dental care can be an important component
        of our well being. As with all insurance-related decisions, there are
        multiple facets that should go into your decision when purchasing coverage
        for yourself, family, business, or your employees. And, there many types of
        plans to consider such as a PPO (Preferred Provider Organizations), HMO
        (Health Maintenance Organization), dental indemnity insurance plans, and
        discount dental plans.
      </p>

      <h2 class="medicare_resources_header">Why it's important</h2>

      <p class="article_text margin_bottom">Dental coverage of some kind can help
        you ensure the health of your teeth and gums. Unfortunately, if you are
        bearing the full brunt of the cost of dental care you may find it difficult
        to pay your dentist bills. Without dental insurance coverage, you may be
        tempted to skip regular cleanings and checkups, a decision that could lead
        to serious dental health problems.
      </p>

      <h2 class="medicare_resources_header">Types of Dental Insurance Coverage</h2>

      <p class="article_text margin_bottom">Similar to medical insurance plans,
        dental insurance policies are often categorized as either indemnity or
        managed-care plans. The major differences are concentrated around out-of-pocket
        costs, choice of dental care providers, and how bills are paid.
      </p>

      <p class="article_text margin_bottom">Typically, indemnity coverage offers
        a broader selection of dental care providers than managed-care policies.
        With an indemnity policy, the carrier pays for covered services only after
        it receives a bill, which means that you may have to pay up front and then
        obtain reimbursement from your insurance carrier. Usually, managed-care
        policies maintain their own dental provider networks. Dentists participating
        in a network agree to perform services for patients at pre-negotiated rates
        and usually will submit the claim to the dental insurance company for you.
      </p>

      <h2 class="medicare_resources_header">Basic Dental Insurance Coverage - What is Included?</h2>

      <p class="article_text margin_bottom">Understanding what is covered by your
        dental insurance can be challenging. Coverage differs from policy to policy
        and from provider to provider. Read the fine print of your policy or agreement
        to find out what your dental insurance covers. In general, basic dental
        insurance coverage includes three categories:
      </p>

        <ul class="list_shift">
          <li class="sidemenu_li">Preventive and diagnostic dental care:
            Almost all dental plans and dental insurance policies cover basic
            dental costs that are meant to prevent dental problems. For the
            policyholder that means, most plans covers a large part or all the
            dental costs associated with basic services such as cleaning,
            checkups, and other dental procedures meant to prevent tooth and gum
            disease. This coverage is important because it encourages people to
            seek regular dental care, which can prevent more complicated and
            costly problems.
          </li>
          <li class="sidemenu_li">Basic dental care and dental procedures:
            Most dental plans and dental insurance also cover basic dental
            procedures such as fillings, tooth extractions, fixing chipped teeth,
            and other such basic procedures. However, basic dental care varies
            from one provider to another. In general, since providers cover a
            significant portion of basic dental care, it makes sense to select a
            dental care insurance provider that covers as many dental care basics
            and procedures as possible.
          </li>
          <li class="sidemenu_li">Major dental care: While not all dental insurance
            plans cover major dental care, some do cover at least a portion of these
            costs. Major dental care can include procedures such as dental surgery,
            orthodontics, denture work, and other large, expensive dental procedures.
            If you will require major dental care at some point in the future you may
            wish to look for a provider willing to pay for as large a percentage of
            this type of care as possible.
          </li>
          <li class="sidemenu_li"></li>
          <li class="sidemenu_li"></li>
        </ul>

      <p class="article_text margin_bottom"> This is a brief overview of the coverage
        that can be included in a Dental Insurance policy. You should read a policy
        thoroughly before purchasing any insurance policy.
      </p>

      </article>
    </section>
    <%= render "dental_vision/sidemenu" %>
  </main>
</div>
