
<div class="medicare_body">

  <main class="medicare_simplified_section">
    <section class="main_content_section">
      <article class="medicare_simplified_article">


      <h1 class="medicare_resources_header">Part D Prescription Drug Plans</h1>

      <p class="article_text">You can sign up for Part D Prescription Drug Plans,
        which helps cover prescription drug costs, along with other components of
        Medicare starting three months before your 65th birthday.
        It's important to do this on time because there's a permanent premium
        surcharge for enrolling more than three months after your 65th birthday
        if you don't have equivalent drug coverage from another source, such as
        a retiree plan.</p>

      <h2 class="medicare_resources_header">Let us help you with your enrollment</h2>

      <p class="article_text margin_bottom">If you are already enrolled in a Part
        D "standalone" plan or a Medicare Advantage plan that incorporates drug
        coverage, you can switch plans during the open-enrollment period, which
        runs from Oct. 15 to Dec. 7 every year.</p>

      <h2 class="medicare_resources_header">Making Part D work</h2>

      <p class="article_text margin_bottom">In 2021, you are facing higher
        out-of-pocket drug costs before you can qualify for catastrophic
        coverage. The out-of-pocket spending threshold will increase by $200,
        from $6,350 to $6,550 in 2021.</p>

      <p class="article_text margin_bottom">You will also face higher
        out-of-pocket costs in 2021 for the deductible and in the initial
        coverage phase before reaching the catastrophic coverage. The standard
        deductible is increasing from $435 in 2020 to $445 in 2021, while the
        initial coverage limit is increasing from $4,020 in 2020 to $4,130 in
        2021.</p>

      <p class="article_text margin_bottom">For costs in the coverage gap phase,
        beneficiaries will pay 25% for both brand-name and generic drugs, with
        plans paying the remaining 75% of generic drug costs. For total drug
        costs above the catastrophic threshold, Medicare pays 80%, plans pay 15%,
        and enrollees pay either 5% of total drug costs or $3.70/$9.20 for each
        generic and brand-name drug, respectively.</p>


      <h2 class="medicare_resources_header">Choosing a plan</h2>

      <p class="article_text margin_bottom">It pays to review your Part D
        coverage every year, especially if you have started taking new drugs.</p>

        <ul class="list_shift">
          <li class="sidemenu_li">Start at <a href="https://www.Medicare.gov">
            Medicare.gov</a, where you can find the
            basics about the benefit and Part D plans. There's a link to the
            <a href="https://www.medicare.gov/plan-compare/#/?year=2023&lang=en">
            Medicare Part D Plan Finder</a>,
            which allows you to compare offerings
            and coverage options in your area and includes a helpful formulary
            finder that allows you to compare plans based on their coverage of
            your personalized list of drugs. It will even show you your monthly
            out-of-pocket drug cost for the year</li>

        </ul>

      <h3 class="medicare_resources_header">Choosing a plan</h3>

      <h2 class="medicare_resources_header">Getting financial help</h2>

      <p class="article_text margin_bottom">Individuals with annual incomes of
        less than $19,140 and financial resources of up to $14,610, or married
        couples with incomes of less than $25,860, might qualify for Extra Help
        from Medicare to pay their Part D premiums and out-of-pocket drug costs.
      </p>

      <p class="article_text margin_bottom">
        <a href="https://www.ssa.gov/pubs/EN-05-10508.pdf"></a>
        Download Medicare's instructions on applying for the Extra Help program.
      </p>

      </article>
    </section>
    <%= render "medicare_options/sidemenu" %>
  </main>
</div>
