
<div class="medicare_body">

  <main class="medicare_simplified_section">
    <section class="main_content_section">
      <article class="medicare_simplified_article">


      <h1 class="medicare_resources_header">Coordinated Medicare/Medicaid Benefits</h1>


      <p class="article_text">Did you know that you may qualify for a plan that
        integrates your Medicare and Medicaid benefits through a single entity?
      </p>

      <p class="article_text">Are You Eligible?</p>

      <p class="article_text">If you are 21 years of age or older, eligible for
        both Medicare and Medicaid, you are considered dual-eligible. Additionally,
        if you experience significant health or financial risks and require more
        attention and support to help you reach your health goals you would qualify
        for dual coverage.
      </p>

      <p class="article_text">What is a Medicare-Medicaid Coordinated Plan?</p>

      <p class="article_text">The Medicare-Medicaid Coordinated Plan is a program
        created to manage Medicare benefits as well as most Medicaid benefits,
        in addition to some supplemental services.</p>

      <p class="article_text">Medicare is the primary payer for people with dual eligibility.
        Medicaid coverage picks up the costs that Medicare may not cover,
        such as deductibles and coinsurance. Medicaid might also cover long-term
        nursing home expenses, personal in-home care and other supportive services
        not covered by Medicare.
      </p>

      <p class="article_text">Why Coordinated Care?</p>

      <p class="article_text">Coordinated care combines the coverage of Medicare
        and Medicaid benefits through a single source, which means your healthcare
        decisions are based on your specific needs.
      </p>
      </article>
    </section>
    <%= render "medicare_options/sidemenu" %>
  </main>
</div>
