
<div class="medicare_body">

  <main class="medicare_simplified_section">
    <section class="main_content_section">
      <article class="medicare_simplified_article">


      <h1 class="medicare_resources_header">Are You Eligible for Medicare?</h1>

      <p class="article_text">A Medicare Supplement (Medigap) insurance,
        sold by private companies, can help pay some of the health care costs
        that Original Medicare doesn't cover, like co-payments, coinsurance,
        and deductibles.
        If you have Original Medicare and you buy a Medigap policy,
        Medicare will pay its share of the Medicare-approved amount for covered
        health care costs. Your Medigap policy pays its share.
        A Medigap policy is different from a Medicare Advantage Plan.
        Those plans are ways to get Medicare benefits, while a Medigap policy
        only supplements your Original Medicare benefits.
      </p>

      <h3 class="medicare_resources_header">
        What you need to know about Medicare Supplement policies
      </h3>

      <ul class="list_shift">
        <li class="sidemenu_li" >You must have Medicare Part A and Part B.
        </li>

        <li class="sidemenu_li" >If you have a Medicare Advantage Plan, you can
          switch to a Medicare Supplement insurance policy, but make sure you can
          leave the Medicare Advantage Plan before your Medicare Supplement
          insurance policy begins.
        </li>

        <li class="sidemenu_li" >You pay the private insurance company a monthly
          premium for your Medicare Supplement insurance policy in addition to
          the monthly Part B premium that you pay to Medicare.
        </li>

        <li class="sidemenu_li" >A Medigap policy only covers one person.
          If you and your spouse both want Medigap coverage, you'll each have to
          buy separate policies.
        </li>

        <li class="sidemenu_li" >You can buy a Medicare Supplement insurance
          policy from any insurance company that's licensed in your state to
          sell one.
        </li>

        <li class="sidemenu_li" >Any standardized Medicare Supplement insurance
          policy is guaranteed renewable even if you have health problems. This
          means the insurance company can't cancel your Medicare Supplement
          insurance policy as long as you pay the premium.
        </li>

        <li class="sidemenu_li" >Medicare Supplement insurance policies sold
          after January 1, 2006 aren't allowed to include prescription drug
          coverage. If you want prescription drug coverage, you can join a
          Medicare Prescription Drug Plan (Part D).
        </li>

        <li class="sidemenu_li" >It's illegal for anyone to sell you a Medigap
          policy if you have a Medicare Advantage Plan, unless you're switching
          back to Original Medicare.
        </li>

      </ul>

      <p class="article_text">Information obtained from
        <a href="https://www.medicare.gov"></a>www.medicare.gov
      </p>

      <p class="article_text">By contacting the phone number on this website
        you will be directed to a licensed agent.By contacting the phone number
        on this website you will be directed to a licensed agent.
      </p>


      </article>
    </section>
    <%= render "medicare_options/sidemenu" %>
  </main>
</div>
