
<div class="medicare_body">

  <main class="medicare_simplified_section">
    <section class="main_content_section">
      <article class="medicare_simplified_article">


      <h1 class="medicare_resources_header">Medicare Advantage Plans</h1>

      <p class="article_text">Medicare Advantage Plans, sometimes called Part C,
        are health plan options that are part of the Medicare program. If you
        join one of these plans, you generally get all your Medicare-covered
        health care through the Medicare Advantage Plan. This coverage can include
        prescription drug coverage. Medicare Advantage Plans include:
      </p>

      <ul class="list_shift">
        <li class="sidemenu_li">Medicare Health Maintenance Organization (HMOs)</li>
        <li class="sidemenu_li">Preferred Provider Organizations (PPO)</li>
        <li class="sidemenu_li">Private Fee-for-Service Plans</li>
        <li class="sidemenu_li">Medicare Special Needs Plans</li>
      </ul>

      <p class="article_text">When you join a Medicare Advantage Plan, you use
        the health insurance card that you get from the plan for your health care.
        In most of these plans, there generally are extra benefits and lower
        co-payments than in the Original Medicare Plan. Most Medicare Advantage
        Plans are managed care plans, usually a health maintenance organization
        (HMO) or a preferred provider organization (PPO) and you may have to see
        doctors that belong to the plan or go to certain hospitals to get services.
      </p>

      <p class="article_text">To join a Medicare Advantage Plan, you must have
        Medicare Part A and Part B. You will have to pay your monthly Medicare
        Part B premium to Medicare. In addition, you may have to pay a monthly
        premium to your Medicare Advantage Plan for the extra benefits that they
        offer. In 2021, the standard Part B premium amount is $148.50 (or higher
        depending on your income). However, some people who get Social Security
        benefits pay less than this amount.
      </p>


      <p class="article_text">When can I enroll?</p>

      <p class="article_text">Keep in mind that Medicare limits when you can join,
        switch, or drop a Medicare Advantage Plan. You can join a plan when you
        first become eligible for Medicare. This is anytime beginning three months
        before the month you turn 65 and ends three months after the month you turned 65.
      </p>

      <ul class="list_shift">
        <li class="sidemenu_li">For example, if you turn 65 on May 5, your
          eligibility period starts on February 1 and ends on August 31.
        </li>
        <li class="sidemenu_li">If you are disabled and have Social Security
          Disability Insurance, you can join an advantage plan three months
          before to three months after month 25 of your disability.
        </li>
        <li class="sidemenu_li">You can switch or drop your Medicare Advantage
          during an enrollment period between October 15 and December 7 of each year.
        </li>
      </ul>

      </article>
    </section>
    <%= render "medicare_options/sidemenu" %>
  </main>
</div>
