
<div class="medicare_body">

  <main class="medicare_simplified_section">
    <section class="main_content_section">
      <article class="medicare_simplified_article">


      <h1 class="medicare_resources_header">Compare Medicare Supplement Plans Side by Side</h1>

      <p class="article_text">Medicare Supplement policies (also known as Medigap policies)
        are standardized and must follow federal and state laws designed to protect you.
        Insurance companies can only sell you a "standardized" policy identified in most
        states by letters (see the chart below).
      </p>

      <p class="article_text">All policies offer the same basic benefits but some
        offer additional benefits, so you can choose which one meets your needs.
        As you can see in the comparison chart there are many options from which
        to choose. As licensed insurance agents we can help you understand the
        differences between the plans so that you can decide on the right plan for you.
      </p>

      <p class="article_text">In Massachusetts, Minnesota, and Wisconsin, Medigap
        policies are standardized in a different way.</p>

      <p class="article_text">Did you know that each insurance company decides
        which Medigap policies it wants to sell, although state laws might affect
        which ones they offer? Insurance companies that sell Medigap policies:
      </p>

      <ul class="list_shift">
        <li class="sidemenu_li">Don't have to offer every Medigap plan</li>
        <li class="sidemenu_li">Must offer Medigap Plan A if they offer any Medigap policy</li>
        <li class="sidemenu_li">Must also offer Plan C or Plan F if they offer any plan</li>
      </ul>

      <p class="article_text">Keep in mind, that the Medicare Supplement policy
        covers co-insurance after you've paid the deductible (unless the Medigap
        policy also pays the deductible).
      </p>

      <h2 class="medicare_resources_header">Compare Medicare Supplement Plans Side by Side</h2>

      <p class="article_text">The chart below shows basic information about the
        different benefits Medigap policies cover.
      </p>

      <p class="article_text">Yes = the plan covers 100% of this benefit</p>

      <p class="article_text">No = the policy doesn't cover that benefit</p>

      <p class="article_text">% = the plan covers that percentage of this benefit</p>

      <p class="article_text">N/A = not applicable</p>

      <!-- NEED TO ADD ANOTHER SECTION HERE ASK PASCAL HOW THE FUCK TO DO IT -->
      </article>
    </section>
    <%= render "medicare_options/sidemenu" %>
  </main>
</div>
