
    <section class="side_content_section">
      <div class="medicare_simplified_sidemenu">
        <h4 class="sidemenu_header">Cancer & Hospital Indemnity</h4>

        <ul class="sidemenu_ul custom-list">
          <li class="sidemenu_li"><%= link_to "Indemnity Plans: A Great Way to Address Gap Costs",
            cancer_hospital_path, class: "sidemenu_li" %></li>
          <li class="sidemenu_li"><%= link_to "Why Think About Cancer?",
            ch_menu_two_path, class: "sidemenu_li" %></li>

        </ul>
      </div>
    </section>
