
<div class="medicare_body">

  <main class="medicare_simplified_section">
    <section class="main_content_section">
      <article class="medicare_simplified_article">


      <h1 class="medicare_resources_header">Why Think About Cancer?</h1>

      <p class="article_text">Cancer can occur at any time regardless of lifestyle,
        yet too many people lack cancer insurance coverage to help pay for additional
        costs associated with treatment.
      </p>

      <p class="article_text">While cancer survival rates have dramatically increased
        thanks to modern medical treatment, these treatments are expensive, and together
        with other related costs can create a serious financial impact. Will you be able
        to afford care if cancer touches someone in your family?
      </p>

      <p class="article_text">Chances are you or someone you love will be affected
        by cancer at some point in your life. The National Cancer Institute estimates
        that approximately 11.1 million Americans with a history of cancer were alive
        in January 2005. Some of these individuals were cancer-free, while others still
        had evidence of cancer and may have been undergoing treatment.
        (American Cancer Society. Cancer Facts & Figures 2009, page 1.)
      </p>

      <h2 class="medicare_resources_header">Who can get cancer?</h2>

      <p class="article_text">According to the American Cancer Society, anyone can
        develop cancer. Since incidence rises with age, most cases affect adults
        in mid-life or older. (American Cancer Society. Cancer Facts & Figures 2009, page 1.)
      </p>

      <ul class="list_shift">
        <li class="sidemenu_li">An estimated 1.4 million new cases of cancer will
          be diagnosed in 2009 (American Cancer Society. Cancer Facts & Figures 2009, page5.)
        </li>
        <li class="sidemenu_li">It is estimated that there will be more than 12
          million new cancer cases in 2007 worldwide (American Cancer Society.
          Global Cancer Facts & Figures 2007, page 1.)
        </li>
        <li class="sidemenu_li">In the US, men have slightly less than a 1 in 2
          lifetime risk of developing cancer; for women, the risk is a little more
          than 1 in 3. (American Cancer Society. Cancer Facts & Figures 2009, page1.)
        </li>
        <li class="sidemenu_li">The 5-year relative survival rate for all cancers
          diagnosed between 1996-2004 is 66%, up from 50% in 1975-1977
          (American Cancer Society. Cancer Facts & Figures 2009, page 2.)
        </li>
      </ul>

      <h2 class="medicare_resources_header">Cancer prevention</h2>

      <p class="article_text">The American Cancer Society estimates that in 2009
        about 169,000 cancer deaths are expected to be caused by tobacco use.
        Scientific evidence suggests that about one-third of the 562,340 cancer
        deaths expected to occur in 2009 will be related to overweight or obesity,
        physical inactivity, and poor nutrition and thus could also be prevented…
        In addition, many of the more than 1 million skin cancers that are expected
        to be diagnosed in 2009 could be prevented by protection from the sun’s rays
        and avoiding indoor tanning. (American Cancer Society. Cancer Facts & Figures
        2009, page 1.)
      </p>

      <h2 class="medicare_resources_header">Fact...</h2>

      <p class="article_text">The National Institutes of Health estimates overall
        costs of cancer in 2008 at $228.1 billion: $93.2 billion for direct medical
        costs (total of all health expenditures); $18.8 billion for indirect morbidity
        costs (cost of lost productivity due to illness); and $116.1 billion for
        indirect mortality costs (cost of lost productivity due to premature death).
        (American Cancer Society. Cancer Facts & Figures, 2009, page 3.)
      </p>

      <p class="article_text">With a cancer benefit insurance policy
      </p>

      <ul class="list_shift">
        <li class="sidemenu_li">The money comes directly to you, all at one time
          in one lump sum payment, unless you assign it to a health care provider.
        </li>
        <li class="sidemenu_li">You know exactly how much money may be paid for
          a covered claim —there are no surprises.
        </li>
        <li class="sidemenu_li">It is guaranteed renewable for life, subject to
          the company’s right to increase premium on a class basis.
        </li>
        <li class="sidemenu_li">Coverage is available for individual, single parent,
          or family.
        </li>
      </ul>

      </article>
    </section>
    <%= render "cancer_hospital/sidemenu" %>
  </main>
</div>
