
<div class="medicare_body">

  <main class="medicare_simplified_section">
    <section class="main_content_section">
      <article class="medicare_simplified_article">


      <h1 class="medicare_resources_header">Indemnity Plans: A Great Way to Address Gap Costs</h1>

      <p class="article_text">Chances are your health insurance plan leaves you
        with out-of-pocket expenses. Are you covered by a Medicare Advantage with
        inpatient hospital co-pays? Whether you are covered by individual health
        insurance, group medical insurance or Medicare, co-pays and deductibles
        are a reality.
      </p>

      <p class="article_text">Hospital Indemnity Insurance can
        provide gap coverage to help offset these expenses. This type of insurance
        can pay you a daily benefit. The money can be used to help with hospital
        co-pays or it can be used to help with incidental expenses not covered by
        your medical insurance.
      </p>

      <p class="article_text">Some policies may pay you additional
        benefits beyond inpatient hospital stays. Ambulance trips, skilled nursing
        facility visits, outpatient surgery and durable medical equipment are just
        a few of the ancillary benefits available with Hospital Indemnity Policies.
      </p>

      <p class="article_text">Please call or contact me today for
        more information.
      </p>

      <p class="article_text">This [agent, website, agency whatever]
        is not affiliated with nor endorsed by any government agency. Not associated
        with the Federal Medicare program.
      </p>

      <p class="article_text">By contacting me, you may be offered insurance
        policies to purchase.
      </p>

      <p class="article_text">Footnote: This is a brief overview of the coverage
        that can be included in an Indemnity Insurance policy. You should read a
        policy thoroughly before purchasing any insurance policy.
      </p>
      </article>
    </section>
    <%= render "cancer_hospital/sidemenu" %>
  </main>
</div>
