
<div class="medicare_body">

  <main class="medicare_simplified_section">
    <section class="main_content_section">
      <article class="medicare_simplified_article">


      <h1 class="medicare_resources_header">Medicare Simplified</h1>

        <picture class="maze_picture_container">
            <%= image_tag("https://agentmethods-production.s3.amazonaws.com/7NQc2WUqy4rJGR8ZEUP4yowB", :alt =>
                  "image", :class => "maze_picture") %>
        </picture>

      <p class="article_text">We believe that the better educated you are about Medicare,
        the easier it will be for you to make the right decisions about your
        Medicare health insurance choices.
        That's why we've created this resource section.</p>

      <p class="article_text margin_bottom">This <strong>Medicare information section</strong> is here to educate you about your insurance
        options and provide you with the resources you need to help you select the right
        plan for your unique needs.
        If there's anything you need or if you have any questions,
        please feel free to contact us. We are here to help.</p>

      </article>
    </section>
    <%= render "medicare_resources/sidemenu" %>
  </main>
</div>
