
<div class="medicare_body">

  <main class="medicare_simplified_section">
    <section class="main_content_section">
      <article class="medicare_simplified_article">


      <h1 class="medicare_resources_header">Medicare-Related Enrollment Dates and Guidelines</h1>

      <h2 class="medicare_resources_header">September & October—Review and Compare
        Medicare Advantage Plans</h2>

      <p class="article_text">Medicare is a health insurance program for:</p>

      <ul class="list_shift">
        <li class="sidemenu_li" >Review any notices from your plan about changes
          for next year. To learn more about your options download Medicare and
          You 2021</li>
      </ul>

      <p class="article_text">Compare: In October, use Medicare’s tools to find
        a plan that meets your needs.</p>

      <ul class="list_shift">
        <li class="sidemenu_li" >This is the one time of year when ALL people
          with Medicare can make changes to their health and prescription drug
          plans for the next year.</li>
      </ul>

      <p class="article_text">Between: October 15- December 7</p>

      <ul class="list_shift">
        <li class="sidemenu_li" >Change from Original Medicare to a Medicare Advantage Plan.</li>
        <li class="sidemenu_li" >Change from a Medicare Advantage Plan back to Original Medicare.</li>
        <li class="sidemenu_li" >Switch from one Medicare Advantage Plan to another Medicare Advantage Plan.</li>
        <li class="sidemenu_li" >Switch from a Medicare Advantage Plan that doesn’t offer drug coverage to a Medicare Advantage Plan that offers drug coverage.</li>
        <li class="sidemenu_li" >Switch from a Medicare Advantage Plan that offers drug coverage to a Medicare Advantage Plan that doesn’t offer drug coverage.</li>
        <li class="sidemenu_li" >Join a Medicare Prescription Drug Plan.</li>
        <li class="sidemenu_li" >Switch from one Medicare Prescription Drug Plan to another Medicare Prescription Drug Plan.</li>
        <li class="sidemenu_li" >Drop your Medicare prescription drug coverage completely.</li>
      </ul>

      <p class="article_text">January 1—Coverage Begins</p>

      <ul class="list_shift">
        <li class="sidemenu_li" >Your new coverage begins if you switched to a
          new plan. If you stay with the same plan, any changes to coverage,
          benefits, or costs for the new year will begin on January 1.</li>
      </ul>

      <p class="article_text">Between January 1–March 31</p>

      <ul class="list_shift">
        <li class="sidemenu_li" >If you’re in a Medicare Advantage Plan
          (like an HMO or PPO), you can make one change to a different plan or
          switch  back to Original Medicare (and join a stand-alone Medicare
          Prescription Drug Plan) once during this  time. Any changes you make
          will be effective the first of the month after the plan gets your request.</li>
      </ul>

      <h2 class="medicare_resources_header">When to buy a Medicare Supplement policy</h2>

      <ul class="list_shift">
        <li class="sidemenu_li" >The best time to buy a Medigap policy is during
          your Medigap Open Enrollment Period, which is the six-month period that
          begins on the first day of the month in which you turn 65 or older and
          have enrolled in Part B. (Some states have additional Open Enrollment
          Periods.) After this enrollment period, you may not be able to buy a
          Medigap policy. If you are able to buy one, it may cost more.</li>

        <li class="sidemenu_li">If you delay in Part B because you have group
          health coverage based on your (or your spouse's) current employment,
          your Medigap Open Enrollment Period won't start until you sign up for
          Part B.</li>
      </ul>

      <p class="article_text">If need have questions about enrollment please give us a call. We're here to help.</p>
      <p class="article_text">This information comes from www.medicare.gov and Medicare and You 2021</p>
      <p class="article_text">By contacting the phone number on this website you will be directed to a licensed agent.</p>
      </article>
    </section>
    <%= render "medicare_resources/sidemenu" %>
  </main>
</div>
