
<div class="medicare_body">

  <main class="medicare_simplified_section">
    <section class="main_content_section">
      <article class="medicare_simplified_article">


      <h1 class="medicare_resources_header">Medicare: What you need to know</h1>

      <p class="article_text">Medicare is a health insurance program for:</p>

      <ul class="list_shift">
        <li class="sidemenu_li" >people age 65 or older,</li>
        <li class="sidemenu_li" >people under age 65 with certain disabilities, and</li>
        <li class="sidemenu_li" >people of all ages with End-Stage Renal Disease
          (permanent kidney failure requiring dialysis or a kidney transplant).</li>
      </ul>

      <h2 class="medicare_resources_header">Medicare has:</h2>

      <p class="article_text">Part A Hospital Insurance </p>

      <p class="article_text">- Most people don't pay a premium for Part A
        because they or a spouse already paid for it through their payroll taxes
        while working. Medicare Part A (Hospital Insurance) helps cover inpatient
        care in hospitals, including critical access hospitals, and skilled
        nursing facilities (not custodial or long-term care). It also helps cover
        hospice care and some home health care. Beneficiaries must meet certain
        conditions to get these benefits.</p>

      <p class="article_text">Part B Medical Insurance </p>

      <p class="article_text">-  Most people pay a monthly premium for Part B.
        Medicare Part B (Medical Insurance) helps cover doctors' services and
        outpatient care. It also covers some other medical services that Part A
        doesn't cover, such as some of the services of physical and occupational
        therapists, and some home health care. Part B helps pay for these covered
        services and supplies when they are medically necessary.</p>


      <p class="article_text">Prescription Drug Coverage </p>

      <p class="article_text">- Most people will pay a monthly premium for this
        coverage. In January 1, 2006, Medicare prescription drug coverage became
        available to everyone with Medicare. This coverage is to help you lower
        prescription drug costs and help protect against higher costs in the future.
        Medicare Prescription Drug Coverage is insurance. Private companies provide
        the coverage. Beneficiaries choose the drug plan and pay a monthly premium.
        Like other insurance, if a beneficiary decides not to enroll in a drug plan
        when they are first eligible, they may pay a penalty if they choose to join later.</p>
      </article>
    </section>
    <%= render "medicare_resources/sidemenu" %>
  </main>
</div>
