
<div class="medicare_body">

  <main class="medicare_simplified_section">
    <section class="main_content_section">
      <article class="medicare_simplified_article article_main_box">


      <h1 class="medicare_resources_header article_main_box">What to Do During Your First Year With Medicare</h1>

      <picture class="doctor_picture_container">
          <%= image_tag("https://agentmethods-production.s3.amazonaws.com/Cdyh2FnEbr3Uqf9MqkeTadQ1", :alt =>
                "image", :class => "doctor_picture") %>
      </picture>

      <p class="article_text">Fill out an Authorization Form if you want your
        family or friends to call Medicare on your behalf. Medicare can't give
        personal health information about you to anyone unless you give
        permission in writing first.</p>

      <p class="article_text">Make a "Welcome to Medicare" Preventive Visit
        appointment with your doctor during the first 12 months you have Medicare.
        This free, one-time comprehensive "Welcome to Medicare" preventive visit
        puts you in control of your health and your Medicare from the start.</p>

      <p class="article_text">Sign up for MyMedicare.gov, the secure online
        service where you can access your personal Medicare information 24 hours
        a day, every day. You can:</p>

      <ul class="list_shift">
        <li class="sidemenu_li" >Track your health care claims</li>
        <li class="sidemenu_li" >View your "Medicare Summary Notices" (MSNs)</li>
        <li class="sidemenu_li" >Order a replacement Medicare card</li>
        <li class="sidemenu_li" >Check your Medicare Part B deductible status</li>
        <li class="sidemenu_li" >View your eligibility information</li>
        <li class="sidemenu_li" >Track your preventive services</li>
        <li class="sidemenu_li" >Find information about your Medicare health plan
          or Medicare Prescription Drug Plan (Part D), or search for a new one</li>
        <li class="sidemenu_li" >Keep your Medicare information in one convenient place</li>
      </ul>

      <p class="article_text">Learn what Medicare covers. You’ll get a list of
        tests, items, and services that are covered no matter where you live.
        If your test, item, or service isn’t listed, talk to your doctor or
        other healthcare provider about why you need certain tests, items, or
        services, and ask if Medicare will cover them.
        And, don’t forget to give us a call with your questions.</p>

      <p class="article_text">This information came from www.medicare.gov</p>
      <p class="article_text">And, don’t forget to give us a call with your questions.</p>

      </article>
    </section>
    <%= render "medicare_resources/sidemenu" %>
  </main>
</div>
