
<div class="medicare_body">

  <main class="medicare_simplified_section">
    <section class="main_content_section">
      <article class="medicare_simplified_article">


      <h1 class="medicare_resources_header">Are You Eligible for Medicare?</h1>

      <p class="article_text">Generally, you are eligible for Medicare if you or
        your spouse worked for at least 10 years in Medicare-covered employment
        and you are 65 years old and a citizen or permanent resident of
        the United States. If you are not 65, you might also qualify for coverage
        if you have a disability or with End-Stage Renal disease
        (permanent kidney failure requiring dialysis or transplant).</p>

      <p class="article_text">Here are some simple guidelines.
          You can get Part A at age 65 without having to pay premiums if:</p>

      <ul class="list_margin_bot">
        <li class="sidemenu_li list_shift" >You already get retirement benefits from Social Security or the
            Railroad Retirement Board.</li>
        <li class="sidemenu_li list_shift" >You are eligible to get Social Security or Railroad benefits but
            have not yet filed for them.</li>
        <li class="sidemenu_li list_shift" >You or your spouse had Medicare-covered government employment.</li>
      </ul>

      <p class="article_text">If you are under 65, you can get
        Part A without having to pay premiums if:</p>

      <ul class="list_margin_bot">
        <li class="sidemenu_li list_shift">You have received Social Security or Railroad Retirement</li>
        <li class="sidemenu_li list_shift" >Board disability benefit for 24 months. You are a kidney dialysis
          or kidney transplant patient.</li>
      </ul>

      <p class="article_text margin_bottom">While you don’t have to pay a
        premium for Part A if you meet one of those conditions, you must pay
        for Part B if you want it. It is deducted from your Social Security,
        Railroad Retirement, or Civil Service Retirement check. If you don’t
        get any of the above payments, Medicare sends you a bill for your Part B
        premium every 3 months.</p>
      </article>
    </section>
    <%= render "medicare_resources/sidemenu" %>
  </main>
</div>
