
<div class="medicare_body">

  <main class="medicare_simplified_section">
    <section class="main_content_section">
      <article class="medicare_simplified_article article_main_box">


      <h1 class="medicare_resources_header article_main_box">Medicare 2021 costs at a glance</h1>

      <h5 class="medicare_resources_header">2021 Costs at a Glance</h5>

      <p class="article_text article_main_box">Part A premium</p>
      <p class="article_text">Most people don't pay a monthly premium for Part A
        (sometimes called "premium-free Part A"). If you buy Part A, you'll pay
        up to $471 each month in 2021. If you paid Medicare taxes for less than
        30 quarters, the standard Part A premium is $471 in 2021. If you paid
        Medicare taxes for 30-39 quarters, the standard Part A premium is $259
        in 2021.</p>

      <p class="article_text">Part A hospital and inpatient deductible</p>
      <p class="article_text">You pay: </p>
      <ul class="list_shift">
        <li class="sidemenu_li" >$1,484 deductible for each benefit period</li>
        <li class="sidemenu_li" >Days 1-60: $0 coinsurance for each benefit period</li>
        <li class="sidemenu_li" >Days 61-90: $371 coinsurance per day of each
          benefit period</li>
        <li class="sidemenu_li" >Days 91 and beyond: $742 coinsurance per each
          "lifetime reserve day" after day 90 for each benefit period (up to 60
          days over your lifetime)</li>
        <li class="sidemenu_li" >Beyond lifetime reserve days: all costs</li>
      </ul>





      <p class="article_text">Part B premium</p>
      <p class="article_text">Most people pay $148.50 each month (or higher
        depending on your income). </p>

      <p class="article_text">Part B deductible and coinsurance</p>
      <p class="article_text">$203. After your deductible is met, you typically
        pay 20% of the Medicare-approved amount for most doctor services
        (including most doctor services while you're a hospital inpatient),
        outpatient therapy, and durable medical equipment.</p>

      <p class="article_text">Part C premium</p>
      <p class="article_text">Part C monthly premium varies by plan</p>

      <p class="article_text">Part D premium</p>
      <p class="article_text">The Part D monthly premium varies by plan
        (higher-income consumers may pay more)</p>

      </article>
    </section>
    <%= render "medicare_resources/sidemenu" %>
  </main>
</div>
