
<div class="medicare_body">

  <main class="medicare_simplified_section">
    <section class="main_content_section">
      <article class="medicare_simplified_article article_main_box">


      <h1 class="medicare_resources_header article_main_box">Where to Get Your Medicare Questions Answered</h1>

      <p class="article_text">To get general or claims specific Medicare
        information and important telephone numbers. If you need help in a
        language other than English or Spanish, say “Agent” to talk to a customer
        service representative.</p>
      <ul class="list_shift">
        <li class="sidemenu_li" >$1 800 633 4227</li>
        <li class="sidemenu_li" >TTY 1 877 486 2048 www.medicare.gov</li>
      </ul>

      <p class="article_text">State Health Insurance Assistance Program (SHIP)</p>
      <p class="article_text">To get free personalized Medicare counseling on
        decisions about coverage; help with claims, billing, or appeals; and
        information on programs for people with limited income and resources.</p>
      <ul class="list_shift">
        <li class="sidemenu_li" >Call 1 800 MEDICARE to get the telephone numbers of SHIPs in other states.</li>
      </ul>

      <p class="article_text">Social Security</p>
      <p class="article_text">To get a replacement Medicare card; change your
        address or name; get information about Part A and/or Part B eligibility,
        entitlement, and enrollment; apply for Extra Help with Medicare
        prescription drug costs; ask questions about premiums; and report a death.</p>
      <ul class="list_shift">
        <li class="sidemenu_li" >1 800 772 1213</li>
        <li class="sidemenu_li" >TTY 1 800 325 07783</li>
        <li class="sidemenu_li" >www.ssa.gov</li>
      </ul>

      <p class="article_text">Coordination of Benefits Contractor</p>
      <p class="article_text">To get information on whether Medicare or your
        other insurance pays first and to report changes in your insurance
        information.</p>
      <ul class="list_shift">
        <li class="sidemenu_li" >1 800 999 1118</li>
        <li class="sidemenu_li" >TTY 1 800 318 8782</li>
      </ul>

      <p class="article_text">Department of Defense</p>
      <p class="article_text">To get information about TRICARE for Life and the
        TRICARE Pharmacy Program.</p>
      <ul class="list_shift">
        <li class="sidemenu_li" >1 866 773 0404 (TFL)</li>
        <li class="sidemenu_li" >TTY 1 866 773 0405</li>
        <li class="sidemenu_li" >1 877 363 1303 (Pharmacy)</li>
        <li class="sidemenu_li" >TTY 1 877 540 6261</li>
        <li class="sidemenu_li" >www.tricare.mil/mybenefit</li>
      </ul>

      <p class="article_text">Department of Health and Human Services</p>
      <p class="article_text">Office of Inspector General—If you suspect Medicare fraud.</p>
      <ul class="list_shift">
        <li class="sidemenu_li" >1 800 447 8477</li>
        <li class="sidemenu_li" >TTY 1 800 377 4950</li>
        <li class="sidemenu_li" >www.stopmedicarefraud.gov</li>
      </ul>

      <p class="article_text">Office for Civil Rights</p>
      <p class="article_text">If you think you were discriminated against or if
        your health information privacy rights were violated.</p>
      <ul class="list_shift">
        <li class="sidemenu_li" >1 800 368 1019</li>
        <li class="sidemenu_li" >TTY 1 800 537 7697</li>
        <li class="sidemenu_li" >www.hhs.gov/ocr</li>
      </ul>

      <p class="article_text">Department of Veterans Affairs</p>
      <p class="article_text">If you’re a veteran or have served in the U.S. military.</p>
      <ul class="list_shift">
        <li class="sidemenu_li" >1 800 827 1000</li>
        <li class="sidemenu_li" >TTY 1 800 829 4833</li>
        <li class="sidemenu_li" >www.va.gov</li>
      </ul>

      <p class="article_text">Office of Personnel Management</p>
      <p class="article_text">To get information about the Federal Employee
        Health Benefits Program for current and retired Federal employees.</p>
      <ul class="list_shift">
        <li class="sidemenu_li" >1 888 767 6738</li>
        <li class="sidemenu_li" >TTY 1 800 878 5707</li>
        <li class="sidemenu_li" >www.opm.gov/healthcare-insurance</li>
      </ul>

      <p class="article_text">Railroad Retirement Board (RRB)</p>
      <p class="article_text">If you have benefits from the RRB, call them to
        change your address or name, check eligibility, enroll in Medicare,
        replace your Medicare card, and report a death.</p>
      <ul class="list_shift">
        <li class="sidemenu_li" >Local RRB office or</li>
        <li class="sidemenu_li" >1 877 772 5772</li>
      </ul>

      <p class="article_text">Quality Improvement Organization (QIO)</p>
      <p class="article_text">To ask questions or report complaints about the
        quality of care for a Medicare covered service or if you think your
        service is ending too soon. Call 1 800 MEDICARE to get the telephone
        number for your QIO.</p>


      </article>
    </section>
    <%= render "medicare_resources/sidemenu" %>
  </main>
</div>
