<%= form_with(model: medicare_website) do |form| %>
  <% if medicare_website.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medicare_website.errors.count, "error") %> prohibited this medicare_website from being saved:</h2>

      <ul>
        <% medicare_website.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
