
<footer class="">
  <div class="footer_grid">
    <div class="footer_title footer_background_test footer_flex">
      <h3>Corwin-Rey Insurance Agency</h3>
      <p>Your Medicare Specialist</p>
    </div>
    <div class="footer_about_us footer_background_test footer_flex">
      <h4>About Us</h4>
      <p>Our firm is staffed by proven insurance professionals committed to providing our clients with highly personalized service.</p>
    </div>
    <div class="footer_follow_us footer_background_test footer_flex">
      <h4>Follow Us</h4>
      <button type="button" name="button"></button>
    </div>
    <div class="footer_other_links footer_background_test footer_flex">
      <h4>Other Links</h4>
      <a href="#">Privacy Policy</a>
      <a href="#">Legal Terms</a>
    </div>
    <div class="footer_address footer_background_test footer_flex">
      <h4>Address</h4>
    </div>
  </div>

</footer>
